@media only screen and (max-width: 1350px) {
    
    .mid-container {
        width: 45%;
    }
    
    .overlay .option-grp {
        height: 40px;
        padding-bottom: 1px;
        padding-top: 1px;
    }
    
    .overlay .option-grp p {
        margin: 0;
        margin-top: 10px;
    }
    
    .basket-btn {
        min-width: 30%;
    }
    
    #basket-total i {
        display: none;
    }
    
    #basket-total {
        text-align: center;
        margin: 0;
    }
}

/* Small table to small big tablet from 768 to 1023px */
@media only screen and (max-width:1023px) {
    
}

/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width:767px) {
    
}

/* Small phones to small tablets from 370 to 414px (iPhone 6/7/8) */
@media only screen and (max-width:414px) {
    
}

/* From 0 to 369px (Galaxy S5) */
@media only screen and (max-width:360px) {
}